* {
  box-sizing: border-box;
}
body {
  font-family: League Spartan;
}
.main-container {
  max-width: 1430px;
}
.main {
  display: flex;
  justify-content: space-between;
  gap: 55px;
  background: #f8f8f8;
  padding-left: 135px;
}
.mor {
  font-weight: 300;
  font-size: 24px;
  line-height: 186%;
  margin: 100px 524px 53px 2x;
  text-align: left;
}
.title {
  color: rgb(39, 39, 39);
  font-family: League Spartan;
  font-size: 250px;
  font-weight: 100;
  line-height: 230px;
  text-align: left;
  max-width: 586px;
  margin: 0;
  margin-bottom: 43px;
}
.desc {
  max-width: 575px;
  font-weight: 300;
  font-size: 32px;
  line-height: 155%;
  margin-bottom: 61px;
  margin-right: 82px;
}
.btn {
  cursor: pointer;
  display: inline-block;
  outline: 0;
  border: 0;
  text-decoration: none;
  margin-bottom: 246px;
}
.btn-primary {
  font-family: League Spartan;
  padding: 30px 74px;
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 100;
  line-height: 29px;
  text-align: left;
  background: #161515;
}
.btn-secondary {
  padding: 14px 28px;
  color: rgb(39, 39, 39);
  font-family: League Spartan;
  font-size: 32px;
  font-weight: 100;
  line-height: 186%;
  text-align: center;
  box-shadow: 0px 0px 28px 0px rgba(214, 214, 214, 0.25);
  background: rgb(255, 255, 255);
}

.image {
  max-width: 408px;
  width: 100%;
  margin: auto;
  margin-right: 230px;
  margin-bottom: 219px;
}
.image :hover {
  transform: translatex(-2px) scale(1.1);
  transition: 0.2s all ease-in-out;
}
.add-container {
  max-width: 1430px;
  width: 100%;
  text-align: center;
  align-items: center;
}
.popular {
  color: rgb(0, 0, 0);
  font-family: League Spartan;
  font-size: 24px;
  font-weight: 100;
  line-height: 186%;
  margin: 0;
}
.models {
  color: rgb(0, 0, 0);
  font-family: League Spartan;
  font-size: 72px;
  font-weight: 100;
  padding-bottom: 84px;
}
.primary-watch {
  max-width: 417px;
  width: 100%;
  max-height: 630px;
  background: #f8f8f8;
  margin-bottom: 67px;
  margin: auto;
}
.primary-image {
  margin: auto;
  width: 100%;
  transition: 0.2s all ease-in-out;
}
.primary-image:hover {
  transform: translatex(-2px) scale(1.1);
  transition: 0.2s all ease-in-out;
}
.Son {
  color: rgb(0, 0, 0);
  font-family: League Spartan;
  font-size: 32px;
  font-weight: 100;
  line-height: 29px;
  margin-bottom: 17px;
}
.text1 {
  color: rgb(22, 21, 21);
  font-family: League Spartan;
  font-size: 32px;
  font-weight: 100;
  line-height: 155%;
  margin: auto;
  max-width: 532px;
  margin-bottom: 85px;
}
.secondary-watch {
  margin: auto;
  max-width: 496px;
  width: 100%;
  max-height: 630px;
  background: #f8f8f8;
  margin-bottom: 67px;
}
.secondary-image {
  margin: 0px;
  width: 100%;
  transition: 0.2s all ease-in-out;
}
.secondary-image:hover {
  transform: translatex(-2px) scale(1.1);
  transition: 0.2s all ease-in-out;
}
.Sw {
  color: rgb(22, 21, 21);
  font-family: League Spartan;
  font-size: 32px;
  font-weight: 100;
  line-height: 29px;
}
.text2 {
  color: rgb(22, 21, 21);
  font-family: League Spartan;
  font-size: 32px;
  font-weight: 100;
  line-height: 155%;
  max-width: 510px;
  margin: auto;
  margin-bottom: 59px;
}
span {
  color: rgb(22, 21, 21);
  font-family: League Spartan;
  font-size: 32px;
  font-weight: 100;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  margin-bottom: 58px;
}
span::before {
  content: "";
  position: absolute;
  background: #707070;
  width: 75%;
  height: 1px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.footer {
  font-family: League Spartan;
  font-size: 24px;
  font-weight: 100;
  line-height: 170%;
  max-width: 515px;
  margin: auto;
  margin-bottom: 142px;
}
.link {
  color: #bb8b5d;
}
@media screen and (max-width: 1220px) {
  .info {
    justify-content: center;
    text-align: center;
    margin: auto;
  }
  .main-container {
    max-width: 1430px;
    margin: auto;
  }
  .image {
    max-width: 408px;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 219px;
  }
  .main {
    display: grid;
    justify-content: center;
    background: #f8f8f8;
    padding: 0px;
  }
  .btn {
    cursor: pointer;
    display: inline-block;
    outline: 0;
    border: 0;
    text-decoration: none;
    margin-bottom: 246px;
    text-align: center;
    justify-content: center;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .main {
    display: grid;
    justify-content: center;
    background: #f8f8f8;
  }
}
@media screen and (max-width: 592px) {
  .title {
    color: rgb(39, 39, 39);
    font-family: League Spartan;
    font-size: 150px;
    font-weight: 100;
    line-height: 230px;
    text-align: center;
    max-width: auto;
    margin: 0;
    margin-bottom: 43px;
  }
}
@media screen and (max-width: 462px) {
  * {
    word-break: break-all;
  }
}
@media screen and (max-width: 280px) {
}
/* .title {
  .title:hover {
    transform: translatex(-4px) scale(1.1);
    transition: 0.2s all ease-in-out; */
